<nav id="sidebar" class="sticky-top sticky-offset scrollable">
    <div class="sidebar-header">
        <h3>ALMAVIVA</h3>
    </div>


    <ul class="list-unstyled components menu" #menuPrincipal>
        <li class="menu-padre">
            <a href="#administrador" aria-expanded="false" class="opcion-padre" (click)="alternarSubMenu($event)">
                <i class="icono left fa fa-users" aria-hidden="true"></i> Administrador
                <i class="icono right fa fa-chevron-circle-right" aria-hidden="true"></i>
            </a>
            <ul class="list-unstyled" id="administrador" routerLinkActive #rla="routerLinkActive" [@abrirCerrarGrupoMenu]="obtenerEstadoActual(rla, 'administrador')">
                <li>
                    <a [routerLink]="['Usuarios/home']" routerLinkActive="active">Usuarios</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>