<div class="row">
    <h4 class="mr-3 " style="margin-top:17px; margin-bottom:25px; margin-left: 29px;">Informe contable</h4>
    <span style="color: #62b7e9;">
    <i class="fa fa-info-circle fa-lg mt-4 mb-3" ngbTooltip=" pantalla consulta de informe"></i>
  </span>
</div>
<div class="container">
    <form [formGroup]="frmInforme">
        <div class="row">
            <div class="form-group col-3">
                <label for="d2">Fecha inicial</label>
                <div class="input-group">
                    <input class="form-control" [maxDate]="Date" name="d2" [(ngModel)]="fechaIni" ngbDatepicker #d2="ngbDatepicker" placeholder="dd/mm/yy" formControlName="fechaIni">

                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" ngbTooltip="Calendario" (click)="d2.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true" ></i></button>
                    </div>
                    <div *ngIf="frmInforme.get('fechaIni').errors" class="invalid-tooltip">
                        Este campo es obligatorio
                    </div>

                </div>
            </div>

            <div class="form-group col-3">
                <label for="d2">Fecha final</label>
                <div class="input-group mb-2">
                    <input class="form-control" [minDate]="fechaIni" [maxDate]="validacionFecha()" name="d3" [(ngModel)]="fechaFin" ngbDatepicker #d3="ngbDatepicker" placeholder="dd/mm/yy" formControlName="fechaFin">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" ngbTooltip="Calendario" (click)="d3.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                    </div>
                    <div *ngIf="frmInforme.get('fechaFin').errors" class="invalid-tooltip">
                        Este campo es obligatorio
                    </div>

                </div>
            </div>

            <div class="input-group col-3">
                <label for="tptrans">Tipo transacción</label>
                <div class="input-group mb-4">
                    <select class="custom-select" name="tptrans" id="tptrans" formControlName="tptrans" [(ngModel)]="tipoTransa">
            <option [ngValue]="0" selected> Seleccione</option>
            <option  *ngFor="let item of transacciones" [ngValue]="item.id"> {{item.nombre}}</option>
          </select>
                    <div *ngIf="frmInforme.get('tptrans').errors" class="invalid-tooltip">
                        Este campo es obligatorio
                    </div>

                </div>
            </div>

            <div class="input-group col-3">
                <label for="transaccion">N° transacción</label>
                <div class="input-group mb-4">
                    <input class="form-control" maxlength="51" placeholder="Transacción" name="transaccion" formControlName="Ntransaccion" [(ngModel)]="numTransa">
                    <div *ngIf="frmInforme.get('Ntransaccion').errors?.maxlength" class="invalid-tooltip">
                        maximo 50 caracteres
                    </div>
                </div>
            </div>


            <div class="input-group col-4">
                <label for="poliza">N° póliza</label>
                <div class="input-group mb-4">
                    <input class="form-control" maxlength="51" placeholder="Póliza" formControlName="poliza" [(ngModel)]="numPoliza">

                    <div *ngIf="frmInforme.get('poliza').errors?.maxlength" class="invalid-tooltip">
                        maximo 50 caracteres
                    </div>

                </div>
            </div>

            <div class="col-2 " style="margin-top: 35px;">
                <button *ngIf="esConsultar" type="button" class="btn btn-sm btn-primary ml-1" Tooltip="Buscar" [disabled]="!frmInforme.valid" ngbTooltip="Buscar " (click)="obtenerReporte() ">Consultar <i class="fa fa-search ml-2 " aria-hidden="true "></i></button>


            </div>
        </div>
    </form>


    <div>
        <div class="col-12 ">
            <tabla-filtro-buscar #tfb [paginacionService]="tablaPag.paginacionService " [lista]="contable " [($listaObservable)]="opcionesFiltro$ "></tabla-filtro-buscar>
        </div>
        <table class="table table-striped table-hover table-bordered ">

            <thead>
                <tr>
                    <th scope="col ">Compañía</th>
                    <th scope="col ">Cantidad de registros</th>
                    <th scope="col ">Total valor Prima</th>
                    <th scope="col ">Total valor Iva</th>
                    <th scope="col ">Total Reportado</th>
                    <th scope="col ">Ver Detalle</th>
                </tr>
            </thead>
            <tbody *ngIf="tablainfo" >
                <tr *ngFor="let opcion of opcionesFiltro$ | async " >
                    <td>
                        <ngb-highlight [result]="opcion.compania " [term]="tfb.filtroTabla.value "></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="opcion.cantidadRegistros " [term]="tfb.filtroTabla.value "></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="opcion.valorPrima " [term]="tfb.filtroTabla.value "></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="opcion.valorIva " [term]="tfb.filtroTabla.value "></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="opcion.total " [term]="tfb.filtroTabla.value "></ngb-highlight>
                    </td>
                   <td>
                    <button *ngIf="esConsultar"  type="button " class="btn btn-sm btn-success ml-2  " Tooltip="Descargar "  ngbTooltip="Descargar " (click)="descargarExcelInforme(opcion) "><i class="fa fa-file-excel-o " aria-hidden="true "></i>
                    </button>

                   </td>
                </tr>
            </tbody>
        </table>
        <tabla-paginacion #tablaPag [lista]="contable " [($listaObservable)]=" opcionesFiltro$ "></tabla-paginacion>
    </div>
