li a.opcion-raiz,
li.menu-padre a.opcion-padre,

li a.no-tiene-padre  {
    font-size: 0.9em !important;
    font-weight: bold;
}

li a .icono.left {
    float: left;
    margin-right: 10px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

li.menu-padre a.opcion-padre .icono.right {
    float: right !important;
    margin-left: 10px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

li.menu-padre ul {
    overflow: hidden;
}
