<div [@fadeIn]>
    <div class="row">
        <h4 class="m-3 ">Administracion usuarios</h4>
        <span style="color: rgb(115, 211, 86);">
          <i class="fa fa-info-circle fa-lg mt-4 mb-3" ngbTooltip="usuarios pantalla principal" data-placement="right"></i>
        </span>
      </div>
    <div class="row mb-sm-2">
        <div class="col-6">
            <button type="button" class="btn btn-primary rounded-circle" ngbTooltip="Crear usuario" placement="right" (click)="abrirModalEditar()"  >
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <div class="col-6">
            <tabla-filtro-buscar #tfb [paginacionService]="tablaPag.paginacionService" [lista]="usuarios" [($listaObservable)]="usuarioFiltro$"></tabla-filtro-buscar>
        </div>
    </div>

   <span>{{esEditar}}</span>
    <table class="table table-striped table-hover table-bordered color">
        <thead>
            <tr>
                <th scope="col">Nombre(s)</th>
                <th scope="col">Apellido(s)</th>
                <th scope="col">Nombre Usuario</th>
                <th scope="col" *ngIf = "esEditar">Operaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarioFiltro$ | async; index as i">

                <td>
                    <ngb-highlight [result]="usuario.nombre" [term]="tfb.filtroTabla.value"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="usuario.apellido" [term]="tfb.filtroTabla.value"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="usuario.nombreUsuario" [term]="tfb.filtroTabla.value"></ngb-highlight>
                </td>
                <td class="text-center" *ngIf = "esEditar">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-primary" (click)="abrirModalEditar(usuario)" ngbTooltip="Editar" placement="left">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <tabla-paginacion #tablaPag [lista]="usuarios" [($listaObservable)]="usuarioFiltro$"></tabla-paginacion>

    <app-modal-editar [usuario]="usuario" [listas]="listas" [(esUsuarioCreadoOModificado)]="esUsuarioCreadoOModificado"></app-modal-editar>
</div>
