<form [formGroup]="frmEditarUsuario" class="mx-sm-4" (ngSubmit)="editarUsuario()">

    <div class="row">
        <h4 class="m-3 mb-5">Editar Usuario</h4>
        <span style="color: #62b7e9;"></span>
        <i class="fa fa-info-circle fa-lg mt-4 mb-3" ngbTooltip="Usuarios"></i>
    </div>

    <div class="form-group row">
        <label for="txtNombreUsuario" class="col-form-label col-4">Usuario :</label>

        <div class="col-8">
            <input type="text" class="form-control" formControlName="txtNombreUsuario" maxlength="50" name="txtNombreUsuario" id="txtNombreUsuario" [(ngModel)]="datosUsuario.usuaUsuario" >

            <div *ngIf="frmEditarUsuario.get('txtNombreUsuario').errors" class="invalid-tooltip">
            Este campo es obligatorio
            </div>

        </div>

    </div>
<br>
    <div class="form-group row">
        <label for="txtUsuarioNombres" class="col-form-label col-4">Nombres :</label>

        <div class="col-8">
            <input type="text" class="form-control" formControlName="txtUsuarioNombres" maxlength="50" name="txtUsuarioNombres" id="txtUsuarioNombres" [(ngModel)]="datosUsuario.usuaNombres" >

            <div *ngIf="frmEditarUsuario.get('txtUsuarioNombres').errors" class="invalid-tooltip">
            Este campo es obligatorio
            </div>

        </div>

    </div>
<br>
    <div class="form-group row">
        <label for="txtUsuarioApellidos" class="col-form-label col-4">Apellidos :</label>

        <div class="col-8">
            <input type="text" class="form-control" maxlength="50" name="txtUsuarioApellidos" formControlName="txtUsuarioApellidos" id="txtUsuarioApellidos" [(ngModel)]="datosUsuario.usuaApellidos" >

            <div *ngIf="frmEditarUsuario.get('txtUsuarioApellidos').errors" class="invalid-tooltip">
            Este campo es obligatorio
            </div>

        </div>

    </div>
<br>
    <div class="form-group row">
        <label for="txtUsuarioCorreo" class="col-form-label col-4">Correo :</label>

        <div class="col-8">
            <input type="text" class="form-control" maxlength="50" formControlName="txtUsuarioCorreo"  name="txtUsuarioCorreo" id="txtUsuarioCorreo" [(ngModel)]="datosUsuario.usuaCorreo" >

            <div *ngIf="frmEditarUsuario.get('txtUsuarioCorreo').errors" class="invalid-tooltip">
            Este campo es obligatorio.
            </div>

            <div *ngIf="frmEditarUsuario.get('txtUsuarioCorreo').errors?.email" class="invalid-tooltip">
                Formato de email es invalido.
            </div>

        </div>

    </div>
<br>
    <div class="form-group row">
        <label for="ddlRoles" class="col-form-label col-4">Rol :</label>
  
        <div class="col-8">
  
            <select class="custom-select" formControlName="ddlRoles" name="ddlRoles" id="ddlRoles" [(ngModel)]="datosUsuario.usuaRol">
  
          <option [ngValue]=0 >Seleccione </option>
          <option *ngFor="let opciones of listaRoles" [ngValue]="opciones.id" >{{opciones.nombre}}</option>
  
          </select>

          <div *ngIf="frmEditarUsuario.get('ddlRoles').errors" class="invalid-tooltip">
            Este campo es obligatorio
          </div>
  
        </div>

    </div>
    <br>
    <div class="form-group row" >
        <label for="ddlEstado" class="col-form-label col-4">Estado :</label>

        <div class="col-8">

            <select class="custom-select" formControlName="ddlEstado" name="ddlEstado" id="ddlEstado" [(ngModel)]="datosUsuario.usuaEstado">

                <option [ngValue]=0 >Seleccione </option>
                <option Value="ACT" >
                     Activo
                </option>

                <option Value="INACT" >Inactivo
                </option>
            
            </select>

                <div *ngIf="frmEditarUsuario.get('ddlEstado').errors" class="invalid-tooltip">
                    Este campo es obligatorio
                </div>
                
        </div>

   </div> 

    <div class="d-flex justify-content-center">

        <button
              type="button"
              data-dismiss="modal" (click)="cancelar()"
              class="btn btn-danger mr-3 mt-3">
              <i class="fa fa-ban mr-1"></i>Cancelar
            </button>
        <button type="submit" class="btn btn-success mt-3" [disabled]="frmEditarUsuario.invalid">
              Guardar
        </button>

    </div>

</form>
<br/>
